#set ($attrKeys = $allAttributes)
#set ($propKeys = $propDoc.getProperties().keySet())
#set ($metaDescriptionKey = "description")

<html>
	<head>
		<title>PropDoc</title>
		<link rel="stylesheet" type="text/css" href="styles/core.css" />
	</head>
	<body>
		<h1>Properties</h1>
		<table id="propdoc">

			<!-- HEADER -->
			<thead>
				<th class="property">Property</th>
				<th class="description">Description</th>

				#foreach ($attrKey in $attrKeys)
					#if ($attrKey != $metaDescriptionKey)
						<th class="$attrKey">$attrKey</th>
					#end
				#end
			</thead>
			<!-- END HEADER -->


			<!-- BODY -->
			<tbody>

				#foreach ($propKey in $propKeys)
					#set ($prop = $propDoc.getProperties().get($propKey))

					<tr>
						<td class="property">$prop.getKey()</td>
						<td class="description">$!prop.getMetadataValue($metaDescriptionKey)</td>

						#foreach ($attrKey in $attrKeys)
							#if ($attrKey != $metaDescriptionKey)
								<td class="$attrKey">$!prop.getMetadataValue($attrKey)</td>
							#end
						#end
					</tr>
				#end
			</tbody>
			<!-- END BODY -->
		</table>
		
		<script type="text/javascript" src="scripts/core.js"> </script>
	</body>
</html>